body > header {
  margin-bottom: 10px;
  font-weight: 600;
  border-bottom: 1px solid slightly-light-color;
}
body > header ul {
  padding: 0;
  margin: 0 0 5px;
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 1rem;
  overflow: auto;
}
body > header ul li {
  with: min-content;
}
body > header ul li a {
  text-decoration: none;
  color: light-color;
}
hover-text {
  color: #000; /* 默认颜色 */
  transition: color 0.1s; /* 可选的颜色过渡效果 */
}
.hover-text:hover {
  color: link-color;
/* 鼠标悬停颜色 */
}
